Language: Cpp
BasedOnStyle: Google

AlignConsecutiveAssignments: true
AlignEscapedNewlines: Left
AlignTrailingComments: true

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never

DerivePointerAlignment: false
PointerAlignment: Left

IncludeBlocks: Regroup
