[submodule "third-party/Catch2"]
	path = third-party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "third-party/benchmark"]
	path = third-party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third-party/run-clang-format"]
	path = third-party/run-clang-format
	url = https://github.com/Sarcasm/run-clang-format.git
